// 主题 
$gray: #F2F2F2;
$white: #fff;
$red: #f56c6c;
$blue: #008DFC;
$heavy-blue: #0372C9;
$light-blue:#3A71A8;
$green: #67c23a;
$yellow: #e6a23c;
$pink: #E65D6E;
$tiffany: #4AB7BD;
$panGreen: #30B08F;
$theme: $blue;

$--color-primary: $blue;
$--color-success: #00C16F;
$--color-warning: #FFA01D;
$--color-danger: #FC5252;

$font-color: #333333;
$default-border-radius: 6px;
$default-border-color: #e6e6e6;

// header
$headerHeight: 50px;

// main
$mainBg: $gray;

// sidebar
$sidebarTitleHeight: 150px;

$sideBarWidth: 240px;
$sideBarMinWidth: 40px;

$menuHeight: 44px;

$menuText:#fff;
$menuActiveText:#fff;
$subMenuActiveText:#fff; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#08214A;
$menuHover:#0A2D65;

$subMenuBg:#273C5F;
$subMenuHover:#0A2D65;

$menuActiveBg: #055EA3;
$menuLineBg: #008DFC;


// table
$cell-height: 30px;
$cell-input-height: 28px;
$border-color: #E6E6E6;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$table-header-color: #F5F7FA;
$table-hover: #e6f4ff;
$caret-color: rgba(0, 0, 0, .20);
$border-radius: 4px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $theme;
  mainBg: $mainBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  headerHeight: $headerHeight;
}